.search {
    background-color: gray;
    padding: 5px;
}

.filter {
    background-color: lightgray;
    padding: 5px;
}

label {
    padding: 5px;
}

button {
    margin-left: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}